@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
    :root{
        --fonte: 'Ubuntu';
        --cor-de-fundo: #d6d6d6;
        --roxo: #8C0AF0;
        --cinza-escuro: #4B4B4B;
        --branco: white;
    }

    a{
        text-decoration: none;
    }

    body{
        background-color: var(--cor-de-fundo);
        font-family: var(--fonte);
    }

    header{
        background-color: var(--roxo);
        text-align:center;
    }

    .header__imagem{
        display:inline-block;
        margin: 0.5rem 0 0 0;
    }

    .navegacao{
        padding: 5% 10% 2% 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .botao{
        font-family: var(--fonte);
        background-color: green;
        color: white;
        border-radius: 10%;
        font-size: 1.5rem;
    }

    .botao-nav{
        float: right;
    }

    .botao-vermelho{
        background-color: rgb(149, 24, 24);
    }

    .botoes-login{
        display: flex;
        align-items: center;
        margin-top: 100%;
        flex-direction: column;
    }

    .login{
        font-size: 2.5rem;
        margin-bottom: 10%;
        background-color: var(--roxo);
    }

    .botao-form{
        margin-top: 1rem;
        margin-left: 1rem;
    }

    footer{
        background-color: var(--cinza-escuro);
        text-align: center;
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        color: rgb(180, 180, 180);
        padding: 2% 0 2% 0;
    }

    .formulario{
        margin-top: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-content: center;
    }

    .redireciona-login{
        margin-top: 5%;
        color: var(--cinza-escuro);
        text-align: center;
    }

    .redireciona-link{
        color: var(--cinza-escuro);
    }

    .imagem-bin{
        width: 1.2rem;
    }