{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pythine</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <style>
        body{
            font-family: 'Ubuntu';
        }
    </style>
</head>


<body style="background-color: #D6D6D6;">
    <header class="p-2" style="background-color: purple;">
            <img src="{% static 'assets/notepad.png' %}" class="mx-auto d-block">
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="text-center p-2 fixed-bottom" style="background-color: #959595;">
        <div class="align-items-center">
            Developed by Victor Fernandes Neto.
        </div>
    </footer>
</body>

</html>