{% extends 'shared/base.html' %}
{% load static %}

<body>
    {% block content %}
    <div class="navegacao">
        <a href="#" class="logout">
            <img src="{% static 'assets/logout.png' %}">
        <a href="{% url 'new_task'%}"><button class="botao">Novo</button></a>
    </div>
    {% if tasks %}
    <table>
        <tr>
            <th>Nome da tarefa</th>
            <th>Finalizada</th>
            <th></th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.task_name }}</td>
            {% if task.finished %}
            <td><input checked type="checkbox" id="finished"></td>
            {% else %}
            <td><input type="checkbox" id="finished"></td>
            {% endif %}
            <td><a href="{% url 'delete_task' task.id %}">Deletar</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Nenhuma tarefa encontrada.</p>
    {% endif %}
    {% endblock %}
</body>

</html>