{% extends 'shared/base.html' %}
{% load static %}
    <body>
        {% block content %}
    <div class="navegacao">
        <a href="{% url 'logout' %}" class="logout">
            <img src="{% static 'assets/logout.png' %}">
        <a href="{% url 'new_task'%}"><button class="botao botao-nav">New</button></a>
    </div>
    {% if tasks %}
    <table>
        <tr>
            <th>Task name</th>
            <th>Deadline</th>
            <th></th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td><a href="{% url 'task_update' task.id %}">{{ task.task_name }}</a></td>
            <td>{{ task.deadline|date:'d/m/Y H:i' }}</td>
            <td><a href="{% url 'delete_task' task.id %}"><img class="imagem-bin" src="{% static 'assets/bin.png' %}"></a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Nenhuma tarefa encontrada.</p>
    {% endif %}
    {% endblock %}
</body>
</html>